/* general settings */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* header */

header{
    background-color: blue;
    height: 70px;
    display: flex;
    gap: 5px;
    justify-content: space-around;
    align-items: center;
}

.head{
    /* width: 50px; */
    height: 35px;
    background-color: yellow;
}

#list{
    display: flex;
    justify-content: center;
    align-items: center;
}

.marginlist{
    margin: 0px 10px;
}
a{text-decoration: none;
}

/* main */

/* main{
    display: flex;
    justify-content: center;
    align-items: center;
} */

/* first part main */

.firstsec{
    display: flex;
    flex-direction: column;
    background-image: url();
    justify-content: center;
    align-items: center;
    margin: 50px 400px;
}

p{
    margin: 20px 0px;
}

label{
    margin: 0px 20px;
}

/* second part main */

